{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}

        <div class="form-group">
            <label>{{ "Wydarzenia w trakcie imprezy (pojawią na mapie i w kalendarzu)"|trans }}:</label>

            <div class="col-sm-10">

            <ul class="lessons" data-prototype="{{ form_widget(form.lessons.vars.prototype)|e }}">
                {% for lesson in form.lessons %}
                    <li>{{ form_widget(lesson) }}</li>
                {% endfor %}
            </ul>

            </div>
        </div>

        {{ form_row(form.url) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.email) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var $collectionHolder;
        // setup an "add a lesson" link
        var $addLessonLink = $('<a href="#addNew" class="btn btn-default">{{ "form.add_lesson"|trans }}</a><a name="addNew"></a>');
        var $newLinkLi = $('<li></li>').append($addLessonLink);
        var $removeLink = '<a href="#" class="btn btn-link pull-right remove-lesson">{{ "form.remove_lesson"|trans }}</a>';

        $("ul.lessons").on('click', 'a.remove-lesson', function (e) {
            e.preventDefault();
            $(e.target).parents("li").remove();
            var index = $collectionHolder.data('index');
            $collectionHolder.data('index', index - 1);
        });

        function setupDatetimes() {
            console.log("setting up date time");
            $("input[name*='startDate'], input[name*='endDate']").datetimepicker({
                format: 'yyyy-mm-dd hh:ii',
                weekStart: 1,
                autoclose: true,
                startView: 2,
                minView: 0,
                maxView: 3,
                clearBtn: true,
                todayBtn: true,
                todayHighlight: true,
                language: "pl"
            });
        }

        function addLessonForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a lesson" link li
            var $newFormLi = $('<li></li>').append(newForm).append($removeLink);
            $newLinkLi.before($newFormLi);
        }

        $(function () {
            $collectionHolder = $('ul.lessons');
            $collectionHolder.append($newLinkLi);
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addLessonLink.on('click', function (e) {
//                e.preventDefault();
                addLessonForm($collectionHolder, $newLinkLi);
                setupDatetimes();
            });

        });
    </script>

    <script type="text/javascript">
        $(function(){
            setupDatetimes();
        });
    </script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/dendecalendar/css/bootstrap-datetimepicker.min.css") }}" />

    <style>
        ul.lessons {
            list-style: none;
        }
        ul.lessons li {
            padding: 32px 24px;
        }
        ul.lessons li:nth-child(2n) {
            background: lightgray;
        }
        ul.lessons li:nth-child(2n-1) {
            background: none;
        }
        ul.lessons li:last-child {
            background: none;
        }

    </style>
{% endblock stylesheets %}
